
@media screen and (max-width:1800px) {
    .platform-title {
        display: none;
    }

    #top-text::before {
        content: "3";
        font-weight: 600;
        font-size: 1rem;
        }

    .top-item:nth-of-type(1),
    .top-item:nth-of-type(2),
    .item:nth-of-type(6),
    .item:nth-of-type(5)  {
        display: none;
    }
        
}

@media screen and (max-width:680px) {
    .top-item:nth-of-type(3)  {
        display: none;
    }

    #top-text::before {
    content: "2";
        font-weight: 600;
        font-size: 1rem;
    }
}

@media screen and (max-width:450px) {
    .top {
       flex-direction: column-reverse; 
    }

    .top-item:nth-of-type(3)  {
        display: flex;
    }

    #top-text::before {
    content: "3";
        font-weight: 600;
        font-size: 1rem;
    }
    
}
