
@media screen and (max-width:1800px) {
    .platform-title {
        display: none;
    }

    #top-text::before {
        content: "3";
        font-weight: 600;
        font-size: 1rem;
        }

    .top-item:nth-of-type(1),
    .top-item:nth-of-type(2),
    .item:nth-of-type(6),
    .item:nth-of-type(5)  {
        display: none;
    }
        
}
