$txt-standard: system-ui, verdana, tahoma, sans-serif;
$color-fondo: #ccc;
$color-claro: rgb(234, 234, 192);
$color-hover: rgb(237, 237, 227);
$color-header: rgb(221, 219, 56);
$color-mnu:rgb(49, 60, 49);
$color-txt-blanco: white;

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100vh;
  min-width: 410px;
  font-family: $txt-standard;
}

nav {
  position: sticky;
  top: 0px;
  align-self: flex-start;
  background-color: $color-mnu;
  height: 100% ;  /* calc(100vh - 3rem);  */
}

.menu-container {
  padding-left :0px;
  width: 150px;
}

header {
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  margin: 6px;
}

.page-title {
  height: 3rem;
  align-content: center;
  background-color: $color-header;
  padding-left:10px;
  color: $color-txt-blanco;
  font-size: 1.2rem;

  & em {
    float: right;
    font-size: 0.8rem;
    padding-right: 10px;
    color:$color-claro;
  }
}

.page-container{
  display: flex;
  flex-grow: 1;
  background-color: $color-fondo;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top:25px;
  gap:25px;
}

footer {
  height: 3rem;
  background-color: $color-claro;
  font-size: 0.8rem;
  align-content: center;
  padding:10px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  align-content: center;
  background-color: $color-claro;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 2rem;
  text-transform: uppercase;
  color: $color-txt-blanco;
}

li, .menu-tilde {
  height: 2rem;
  border:1px solid #8d8c8c;
  width: 100%;
  padding-left: 10px;
}

.list .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  border: 1px solid black;
  background-color: white;

  & img {
    border-radius: 50%;
  }
}

.list .item:hover,
li:hover {
  background-color: $color-hover;
}

.list .item:nth-of-type(4):hover {
  background-color: red;

  .member-name {
    font-size: 0;
    &::before {
      content:"Profe layout";
      font-size: 1rem;
    }
    
  } 
}

@media screen and (max-width:768px) {

  .toolbar,
  .menu-container .menu-title {
    display: none;
  }

  header {
    height: 3rem;
  }

 .page-container {
    display: flex;
    flex-direction: column;
  }


  nav,
  .menu-container {
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 100%;

  }

  ul {
    display:flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 40px;
    width: 100px;
  }

  .card{
    display: flex;
    gap:25px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      border: none;

      img{
        padding-left: 20px;
      }
    }
  }



  
}